html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#side-nav-title {
    text-align: center;
    padding: 4px;
}

nav {}

a.nbtn {
    margin: 2px 0;
}

a:link.nbtn, a:visited.nbtn {
    background-color: #3669f4;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover.nbtn, a:active.nbtn {
    background-color: rgb(0, 17, 255);
}

.row {
    display: flex;
    flex-flow: row;
}

.col {
    display: flex;
    flex-flow: column;
}

#page-content {
    height: 100%;
    width: 100%;
}

#side-nav {
    height: 100%;
    padding: 2px 4px;
    border: 1px solid #000;
    background-color: darkgrey;
}


#title {
    padding: 4px;
    border: 1px solid #000;
    background-color: antiquewhite;
}

#title-view {
    width: 100%;
}

#title-content {
    text-align: center;
}

#view-port {
    padding: 4px;
    height: 100%;
    border: 1px solid #000;
}