<div>
    <div id="group-add" class="g">
        <h2>Addition</h2>
        <div class="row">
            <input id="addend1" type="number" />
            <div class="operator">
                <span class="operator">+</span>
            </div>
            <input id="addend2" type="number" />
            <button id="add">ADD</button>
            <input id="sum" type="number" disabled/>
        </div>
    </div>
    <div id="group-sub" class="g">
        <h2>Subtract</h2>
        <div class="row">
            <input id="minuend" type="number" />
            <div class="operator">
                <span>-</span>
            </div>
            <input id="subtrahend" type="number" />
            <button id="sub">SUB</button>
            <input id="difference" type="number" disabled/>
        </div>
    </div>
    <div id="group-divide" class="g">
        <h2>Division</h2>
        <div class="row">    
            <input id="dividend" type="number" />
            <div class="operator">
                <span>/</span>
            </div>
            <input id="divisor" type="number" />
            <button id="div">DIV</button>
            <input id="quotient" type="number" disabled/>
        </div>
    </div>
    <div id="group-add" class="g">
        <h2>Multiplication</h2>
        <div class="row">
            <input id="multiplier" type="number" />
            <div class="operator">
                <span>*</span>
            </div>
            <input id="multiplicand" type="number" />
            <button id="mul">MUL</button>
            <input id="product" type="number" disabled/>
        </div>
    </div>
</div>