h2 {
    margin-block: 8px;
}

input {
    width: 32px;
}

button {
    width: 44px;
    margin: 0 2px;
}

.operator {
    width: 12px;
    text-align: center;
    margin: 0 2px;
}

.row {
    display: flex;
    flex-flow: row;
}

.g {
    border: 1px solid #000;
    border-radius: 4px;
    margin: 4px 0px;
    padding: 4px;
}